/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.cant-see-me {
	display: none;
}

.small-text {
	font-size: .75em;
}

body {
	background-color: #2E2E2E;
}

.registration-edit {
	background-color: lightgrey;
}

.registration-new {
	background-color: lightgrey;
}

.login-page {
	background-color: lightgrey;
}

.new_tweet {
	background-color: lightgrey;
}

.edit_tweet {
	background-color: lightgrey;
}

.notice {
	background-color: lightgrey;
}

.alert {
	background-color: lightgrey;
}

.show_user {
	background-color: lightgrey;
}

.forgot_pw {
	background-color: lightgrey;
}

#map-canvas {
  width: 100%;
  height: 500px;
}

